/* src/assets/css/app.css */

html, body {
    height: 100%;
    margin: 0px;
}

/* Main CSS stylesheet */
html,
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

body div#root {
    height: 100%;
}

@media screen and (prefers-color-scheme: light), screen and (prefers-color-scheme: no-preference) {
  /* Light moe */
  body {
    color: #000;
    background-color: #fff;
  }
}

@media screen and (prefers-color-scheme: dark) {
  /* Dark moe */
  body {
    color: #fff;
    background-color: #000;
  }
}

h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-weight: 200;
}

.ant-layout {
    height: 100%;
}

.ant-row {
    height: 100%;
}

.ant-layout-header {
  height: 150px !important;
}

#components-layout-demo-responsive .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}
  
.site-layout-sub-header-background {
    background: #fff !important;
}
  
.site-layout-background {
    background: #fff;
    height: 100%;
}